{% extends "base_site.html" %}
{% load i18n pagination_tags  %}

{% block title %}{% trans "Tags cloud" %}{% endblock %}

{% block left-column %}
<h1>{% trans "Tag cloud" %}</h1>
<div class="tags cloud">
    {% autopaginate tags_cloud 200 %}
    {% for tag in tags_cloud %}
        <a href="{% url 'planet_tag_detail' tag.name %}" class="level{{ tag.font_size }}">{{ tag|safe }}</a>&nbsp;
    {% endfor %}
    {% paginate %}
</div>
{% endblock %}
