{% extends "base_site.html" %}
{% load i18n pagination_tags  %}


{% block title %}{% trans "Blogs list" %}{% endblock %}

{% block left-column %}
    <h1>{% trans "Blogs" %}</h1>
    {% autopaginate blogs_list 50 %}
      {% for blog in blogs_list %}
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">
                <a href="{{ blog.get_absolute_url }}" class="feed" title="{% trans 'See the full list of posts from this blog' %}">{{ blog.title }}</a>
            </h3>
          </div>
          <div class="panel-body">
            <table class="blog details table table-hover table-bordered">
                <tr>
                    <th>{% trans 'web' %}</th><td><a href="{{ blog.url }}" title="{% trans 'Go to the original blog' %}">{{ blog.url }}</td>
                </tr>
                <tr>
                    <th>{% trans 'browse' %}</th><td><a href="{{ blog.get_absolute_url }}" class="feed" title="{% trans 'See the full list of posts from this blog' %}">{% trans 'latest posts' %}</td>
                </tr>
                {% for feed in blog.feed_set.all %}
                <tr>
                    <th>{% trans 'feed' %}</th>
                    <td>
                      <a href="{{ feed.url }}" title="{% trans 'Subscribe to ' %} {{ feed.title }}">
                        <span class="rss">RSS</span>
                      </a></td>
                </tr>
                {% endfor %}
            </table>
          </div>
        </div>
    {% endfor %}
    {% paginate %}
{% endblock %}
