{% load i18n %}
<h3>
  <a href="{{ post.url }}" title="{% trans 'Read ' %} {{ post.title|safe }}"
    onclick="javascript: _gaq.push(['_trackEvent', 'Title Link', 'Click', 'long-content']);">
        {{ post.title|striptags|safe }}
  </a>
</h3>
<p class="content">
    <span>{{ post.date_modified|date:"d/m/y" }}</span> &blacksquare;
    <a href="{{ post.get_absolute_url }}" title="{% trans 'Read an archived version of' %} {{ post.title|safe }}">
      {% trans "[Archived Version]" %}
    </a> &blacksquare;
    Published at <a href="{{ post.feed.blog.get_absolute_url }}" title="{% trans 'See all posts for this blog' %}">{{ post.feed.blog.title }}</a>
    {% if post.tags.count %} under tags&nbsp;
      {% for tag in post.tags.all|slice:":5" %}
          <span class="label"><a href="" title="Tag">{{ tag.name }}</a></span>
      {% endfor %}
    {% endif %}
    <div>
      {{ post.content|safe }}
    </div>
</p>
