{% load i18n %}
<h3>
  <a href="{{ post.url }}" title="{% trans 'Read ' %} {{ post.title|safe }}"
    onclick="javascript: _gaq.push(['_trackEvent', 'Title Link', 'Click', 'short-content']);">
        {{ post.title|striptags|safe }}
  </a>
</h3>
<p class="content">
    <span class="date">{{ post.date_modified|date:"M d Y" }}</span> &square;
    <a href="{{ post.get_absolute_url }}" title="{% trans 'Read an archived
      version of' %} {{ post.title|safe }}" onclick="javascript:
      _gaq.push(['_trackEvent', 'Archived Version Link', 'Click', 'short-content']);">
      {% trans "[Archived Version]" %}
    </a> &square;
    Published at <a href="{{ post.feed.blog.get_absolute_url }}">{{ post.feed.blog.title }}</a>
    {% if post.tags.count %} under tags&nbsp;
      {% for tag in post.tags.all|slice:":5" %}
          <span class="label"><a href="" title="Tag">{{ tag.name }}</a></span>
      {% endfor %}
    {% endif %}
</p>