{% extends "base_site.html" %}
{% load i18n pagination_tags tagging_tags planet_tags %}

{% block title %}{{ author.name }}{% endblock %}

{% block left-column %}
    <h1>{{ author.name }}</h1>
    <table class="author details table table-hover table-bordered">
        {% for blog in author|get_blogs %}
        <tr>
          <th>{% trans 'Blog Info' %}</th>
          <td><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></td>
        </tr>
        {% endfor %}
        {% for blog in author|get_blogs %}
        <tr>
          <th>{% trans 'Blog website' %}</th>
          <td><a href="{{ blog.url }}">link</a></td>
        </tr>
        {% endfor %}
        <tr>
          <th>{% trans 'Stats' %}</th>
          <td>Has written {{ author|post_count }} posts about or related to Django</td>
        </tr>
    </table>

    {% if tag %}
        <div>
            <p>{% trans 'Posts under tag' %}: <strong>{{ tag|safe }}</strong></p>
            <a href="{{ author.get_absolute_url }}" title="{% trans 'See all posts by' %} {{ author.name }}">
                {% trans 'See the complete list of posts by this author' %}
            </a>
        </div>
    {% endif %}

    {% autopaginate posts 20 %}
    {% for post in posts %}
        <div class="post short {% cycle 'even' 'odd' %} clearfix">
          {% post_details post "planet/posts/short.html" %}
        </div>
    {% endfor %}
    {% paginate %}
{% endblock %}

{% block right_column %}
    {% if tag %}
        <div>
            {% authors_about tag %}
        </div>
    {% endif %}

    {% cloud_for_author author %}
{% endblock %}
