{% extends "base_site.html" %}
{% load i18n pagination_tags planet_tags %}

{% block title %}{% trans 'Authors list' %}{% endblock %}

{% block left-column %}
<h1>{% trans "Authors" %}</h1>
<div class="author list">
    {% autopaginate authors_list 20 %}
    {% for author in authors_list %}
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="nombre" href="{{ author.get_absolute_url }}" title="{% trans 'Author:' %} {{ author.name }}">
                {{ author.name }}
            </a>
          </h3>
        </div>
        <div class="panel-body">
          writes for:
            {% for blog in author|get_blogs %}
              <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
              {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
      </div>
    {% endfor %}
    {% paginate %}
</div>
{% endblock %}
