{% extends "planet/base.html" %}
{% load i18n pagination_tags %}

{% block head_title %}{% trans 'Authors under tag' %} {{ tag|safe }}{% endblock %}

{% block extra_head %}
    <meta name="title" content="{% trans 'Authors for tag' %} {{ tag|safe }}" />
    <meta name="description" content="{% trans 'Authors for tag' %} {{ tag|safe }} " />
    <meta name="robots" content="noindex, follow" />
{% endblock %}

{% block breadcrumb_section %}
    <li><a href="{% url 'planet.views.tags_cloud' %}">Tags</a> <span class="divider">/</span></li>
    <li><a href="{% url 'planet.views.tag_detail' tag.name %}">{{ tag|safe }}</a> <span class="divider">/</span></li>
{% endblock %}
{% block breadcrumb_detail %}<li class="active">{% trans 'Authors' %}</li>{% endblock %}

{% block content %}
<h1>{% trans 'Authors talking about' %} {{ tag|safe }}</h1>
<div class="authors">
    {% autopaginate authors 40 %}
    {% for author in authors %}
        <p>
            <a class="nombre" href="{% url 'planet_by_tag_author_detail' author.id author.get_slug tag.name %}" title="{{ author.name }}">
                {{ author.name }}
            </a>
        </p>
    {% endfor %}
    {% paginate %}
</div>
{% endblock %}

{% block right_column %}
{% endblock %}
