{% extends "base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Add a New Feed" %}{% endblock %}

{% block left-column %}
<section>
    <div class="col-md-12">
        <div class="page-header">
            {% if feed_created %}
                <script type="text/javascript">
                $(function(){
                    $.growl('La URL ha sido procesada exitosamente. Su feed puede tardar algunos minutos en aparecer.', {
                        type: 'success',
                        offset: {
                           x: 50,
                           y: 35
                        },
                        animate: {
                            enter: 'animated bounceIn',
                            exit: 'animated bounceOut'
                        }
                    });
                });
                </script>
            {% endif %}
            <h2 class="list-group-item-heading">{% trans "Add a New Feed" %}</h2>
        </div>
        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-info" type="submit" value="{% trans 'Submit' %}" />
            <a class="btn btn-cancel" href="javascript: history.back();">{% trans 'Cancel' %}</a>
        </form>
      </div>
</section>
{% endblock %}
